<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1 class="text-lgs">
    {{ title }}!
  </h1>
  <img alt="Groupe LGS Logo" src="assets/img/logo-lgs.png">
</div>

<div class="row">
  <div class="col">
    <app-scalable-vector></app-scalable-vector>
  </div>
  <div class="col">
    <app-lines></app-lines>
  </div>
  <div class="col">
    <app-rectangles></app-rectangles>
  </div>
</div>
<div class="row pt-2">
  <div class="col">
    <app-rounded-corners></app-rounded-corners>
  </div>
  <div class="col">
    <app-circles></app-circles>
  </div>
  <div class="col">
    <app-polylines></app-polylines>
  </div>
</div>

<router-outlet></router-outlet>
